{% extends "base.html" %} {% block content %}
<div style="z-index:-1 !important;" class="container center-align">
    <div>
        {%for message in get_flashed_messages()%}
        <div style="position: absolute; top: 50; width :50%" id="flash_message" class="card-panel green lighten-2">
            {{message}}
        </div>
        {% endfor %} {% if error %}
        <div style="position: absolute; top: 50; width :50%" id="flash_message" class="card-panel red lighten-2">

            <p class="error"> <strong>Error!</strong>{{error}}</p>
        </div>

        {% endif %}
        <br>
        <br>
        <br>
        <form action="/login" method="post" class="black-text text-darken-2">
            <p>
                <label for="email" required>Email address</label>
                <input type="email" name="email">

            </p>
            <p>
                <label for="password" required>Password</label>
                <input type="password" name="password">
            </p>
            <br>
            <p>
                <button class="btn waves-effect waves-light" type="submit">Login
                        <i class="material-icons right"></i>
                    </button>
            </p>

        </form>
        <div>   
             <p>
                <label for="" class="right">New user sign up here<a href="/signup"> <button class="waves-effect waves-teal btn-flat" style="text-color:alert">Sign Up
                        </a></label>
            </p>
        </div>
    </div>

</div>
{% endblock %}